/* Mobile Device Screen Sizes <=576px */

/* Global CSS Styles */
:root {
  --primary-color: aqua;
  --secondary-color: green;
  --text-color: #141414;
  --primary-font: Verdana, Geneva, Tahoma, sans-serif;
  --secondary-font: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html {
  font-size: 15px;
}

body {
  background-color: aquamarine;
  font-family: var(--secondary-font);
  color: var(--text-color);
}

p {
  color: var(--text-color);
  margin-bottom: 1.3rem;
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1.3rem;
}

img {
  max-width: 100%;
  height: auto;
}

.section-container {
  padding: 50px 0;
}

.section-header {
  text-transform: capitalize;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 800;
  color: var(--text-color);
  margin-bottom: 1.5rem;
}

.btn-button {
  text-transform: capitalize;
  font-weight: bold;
  background: var(--secondary-color);
  border-radius: 5px;
}

.btn-button:hover {
  background-color: var(--primary-color);
  color: white;
  transition: all 0.6s ease;
}

/* Global CSS Style Ends Here */

/* Weather API Styles */
.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  margin: 12px 50px;
}

/* Footer Styles */
footer {
  padding: 35px 0;
  background-color: var(--text-color);
}

footer p {
  color: antiquewhite;
}

/* ------------------------------------
----------- Responsive Design ---------
--------------------------------------*/

@media screen and (min-width: 576px) and (max-width: 767.98px) {
  html {
    font-size: 16px;
  }

  .section-container {
    padding: 60px 0;
  }

  .section-header {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 18px;
  }

  .section-container {
    padding: 80px 0;
  }

  .section-header {
    font-size: 2rem;
  }

  footer {
    padding: 50px 0;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }

  .section-container {
    padding: 100px 0;
  }

  .section-header {
    font-size: 2.5rem;
  }

  footer {
    padding: 70px 0;
  }
}
